<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- basic -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- mobile metas -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <!-- site metas -->
        <title>AGV MES RAL</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- site icon -->
        <link rel="icon" href="images/logo/rd_logo_icon.png" type="image/png" />
        <!-- bootstrap css -->
        <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
        <!-- site css -->
        <link rel="stylesheet" href="css/app.css">
        <!--<link rel="stylesheet" href="style.css" /> -->
        <!-- responsive css -->
        <link rel="stylesheet" href="css/apscss/responsive.css" />
        <!-- color css -->
        <link rel="stylesheet" href="css/apscss/colors_2.css" />
        <!-- select bootstrap -->
        <link rel="stylesheet" href="css/bootstrap/bootstrap-select.css" />
        <!-- scrollbar css -->
        <link rel="stylesheet" href="css/apscss/perfect-scrollbar.css" />
        <!-- custom css -->
        <link rel="stylesheet" href="css/apscss/custom.css" />
        <script src="js/leaflet.js"></script>
        <!-- calendar file css -->
        <!--<link rel="stylesheet" href="js/semantic.min.css" /> -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body >
        <div class="full_container">
            <div class="inner_container">
                {{>header}}
                {{{body}}}
                
            </div>
        </div>
        <!-- jQuery -->
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <!-- wow animation -->
        <script src="js/animate.js"></script>
        <!-- select country -->
        <script src="js/bootstrap-select.js"></script>
        <!-- owl carousel -->
        <script src="js/owl.carousel.js"></script> 
        <!-- chart js -->
        <script src="js/Chart.min.js"></script>
        <script src="js/Chart.bundle.min.js"></script>
        <script src="js/utils.js"></script>
        <script src="js/analyser.js"></script>
        <!-- nice scrollbar -->
        <script src="js/perfect-scrollbar.min.js"></script>
        <!-- Thư viện Hammer.js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>
        <script>
            var ps = new PerfectScrollbar('#sidebar');
        </script>
        <!-- custom js -->
        <script src="js/custom.js"></script>
        <script src="js/chart_custom_style1.js"></script>
   </body>
</html>